<!-- 
Layouts & Partials in EJS :-
In general, our websites have more than one layout and often the only area of the website that needs to change drastically is the body. 
This is where EJS Layouts come in and help us create projects that are easier to maintain.
And for Partials, they are a common templating concept where the idea is to create reusable files that can be reused.  
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
 
<body>

<!-- Headers and footers are reusable files that can be used to style and use javascript in  multiple created pages like about.ejs, etc  -->
<!-- Set GET routes for each of those pages and render them. -->